.all-game2{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
#playagain{

    background: none;
    font-size: 30px;
    border: none;
    margin-top: 15px;
}
.game2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
   
}
.ppt{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.choose{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#goback-game2{

    margin-top: -100px;
     background: none;
     font-size: 60px;
     border: none;
    }

    #goback-game2 > img{

        width: 50px;
        height: 50px;    
    }    

     
.head-game2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding: 32px;
}


.player1-game2, .player2-game2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    
}

.result-game2 > button{

    width: 100px;
    height: 100px;
    font-size: 100px;
    background:none;
}

.player1-game2 > button > img{
    animation: bote 0.5s ease-in-out infinite;
    transform-origin: center bottom;
    
}
@keyframes bote{

    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
}}
.player2-game2 > button > img{
    animation: bote 0.5s ease-in-out infinite;
    transform-origin: center bottom;
    
}
@keyframes bote{

    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
}}


.player1-game2 > button{

    border: none;
    width: 150px;
    height: 100px;
    background: none;
      border: 2px solid black;
    border-radius: 50%;
    background-color: bisque;
}
.player1-game2 > button > img{

    height: 40PX;
    width: 40px;
}

.player2-game2 > button{

    border: none;
    width: 150px;
    height: 100px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    background-color: bisque;
}
.player2-game2 > button > img{

    height: 40PX;
    width: 40px;
}


.result-game2 > button{

    border: none;
}

#winner-game2{

    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 100px;
    animation: resize 1.5s ease-in-out infinite;
}
    
    
    @keyframes resize {
        0%{
            transform: scale(0.5);
        }
        50%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.5);
        }
    }

@media (max-width:600px)  {
    
    #winner-game2{

        font-size: 40px;
    }
}