.dashboard{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width: 100vw;
    
}





.dashboard > div{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dashboard > div > button{

    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15%;
    text-align: center;
    padding: 10px;
}


.games{

    gap: 75px;
    padding: 3rem;
    border-radius: 25%;
}

#game1{
  
    background-image: url("https://res.cloudinary.com/dysog0ybg/image/upload/v1675679304/POKEAPI/descarga_tbdkli.jpg");
      background-size: cover;
      background-repeat: no-repeat; 
}

#game2{
  
    background-image: url("https://res.cloudinary.com/dysog0ybg/image/upload/v1675681077/POKEAPI/pptijgoku_yqflzq.jpg");
    background-size: cover;
    background-repeat: no-repeat;   

}

@media (max-width:515px) {
    .dashboard > h1{

        font-size: 50px;
    }

    .dashboard > h2{

        font-size: 20px;
    }

    .dashboard > div{

        flex-direction: column;
        gap: 16px;
       
    }
}

