
.login{

    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.box{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 400px;
    height: 300px;
    gap: 32px;
    border: 2px solid black;
}

/* @media (max-width: 38.25rem){
    .box{
        width: 200px;
        height: 100px;
    }
    .login > .box > h2{
        font-size: 16px;
    }
    
} */


#loginInput{

    width: 150px;
    height: 30px;
    margin-top: 40px;
    font-size: 16px;
}
.logindiv{

    display: flex;
    flex-direction: column;
    gap: 16px;


}
